:root{
    --secondary-color: #2D2D2D;
}

*{
    font-family: 'Mooli', sans-serif;
    /* font-family: 'Nanum Gothic', sans-serif; */
}

h2{
    font-weight: 50px;
}

main{
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
}

header{
    /* position: sticky; */
    padding: 10px;
    /* max-width: 700px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: #222;
}

header a.logo{
    font-weight: bold;
}

header a.logo img{
    height: 2rem;
    width: 2.4rem;
}

header nav{
    display: flex;
    gap: 15px;
}

header nav a{
    padding: 7px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: ghostwhite;
    /* font-size: 0.9rem; */
}

header nav a:hover{
    background-color: #151515;
    color: white;
}

.carousel{
    height: 200px;
    width: 100%;
    background-image: url("./images/carousel2.jpg");
    display: flex;
    /* justify-content: center; */
    /* border-radius: 15px; */
    align-items: center;
    color: ghostwhite;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.carousel h1{
    /* font-size: 3.5rem; */
    font-weight: bold;
}

.post img{
    /* border-radius: 15px; */
    min-height: 100px;
    min-width: 200px;

}

div.post div.content a{
    text-decoration: none;
    color: var(--secondary-color);
    /* color: red; */
}

div.post div.author-info{
    display: flex;
    justify-content: end;
    gap: 6px;
    color: gray;
}

div.post div.author-info a{

    text-decoration: none;
    color: rgb(196, 0, 0);
}

div.post p.summary{
    line-height: 1.7rem;
}

.loginForm{
    /* border: 1px solid rgb(185, 185, 185); */
    border-radius: 20px;
    padding: 30px;
    min-height: 400px;
}

.loginForm input:focus{
    border: 0;
    border-bottom: 1px solid var(--secondary-color);
    box-shadow: none;
}

.loginForm button{
    width: 100%;
    background-color: var(--secondary-color);
    border: 0;
}

.loginForm button:hover{
    background-color: #151515;
    color: white;
}

.new-post{
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-color) !important;
    color: ghostwhite !important;
}

div.user-details {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 7px;
    justify-content: end;
}

div.user-details a{
    text-decoration: none;
    color: rgb(196, 0, 0);
}

.single-post time{
    color: rgb(141, 141, 141);
}

.single-post h4{
    color: rgb(99, 97, 97);
}

.single-post .post-content{
    line-height: 1.8rem;
    letter-spacing: 0.06rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    height: 200px;
    background-color: var(--secondary-color);
}